.tb {
	max-height: 400px;
	overflow-y: scroll;
}

a {
	display: inline;
}

h2 {
	display: inline;
}

.fieldlist {
	margin: 0 0 3px;
	padding: 0;
}

	.fieldlist li {
		list-style: none;
		padding-bottom: 10px;
	}

	.fieldlist label {
		display: block;
		padding-bottom: 1px;
		font-size: 13px;
		font-weight: 300;
		color: #444;
	}

.k-widget.k-tooltip-validation {
	display: inline;
	width: 300px;
	text-align: left;
	border: 0;
	padding: 0;
	margin: 0;
	background-color: white;
	box-shadow: none;
	color: red;
}
